/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-cyan: hsl(167, 36%, 54%);
  --clr-primary-dark-blue: hsl(205, 41%, 21%);
  --clr-primary-grayish-dark-blue: hsl(245, 10%, 22%);
  --clr-primary-very-light-grey: hsl(0, 0%, 98%);
  --clr-primary-light-grey: hsl(240, 1%, 52%);
  --clr-primary-bright-red: hsl(0, 90%, 57%);

  --ff-primary: 'Ibarra+Real+Nova', sans-serif;
  --ff-secondary: 'Public+Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1750px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: var(--ff-primary); */
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
  background: var(--clr-primary-very-light-grey);
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  /* line-height: 1.25; */
  margin-bottom: 0.75rem;
}
h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
}
h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 42px;
}
h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
p {
  font-family: var(--ff-secondary);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05rem;
  color: var(--clr-primary-light-grey);
  font-weight: 400;
  /* margin-bottom: 1.25rem; */
}
.btn {
  background: var(--clr-primary-dark-blue);
  padding: 1rem 1.7rem;
  color: var(--clr-primary-very-light-grey);
  border: transparent;
  font-size: 0.7rem;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-primary-cyan);
}
.btn-clean {
  background: var(--clr-primary-very-light-grey);
  padding: 1rem 1.7rem;
  color: var(--clr-primary-dark-blue);
  border: 1px solid var(--clr-primary-dark-blue);
  font-size: 0.7rem;
  font-family: var(--ff-primary);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
  transition: var(--transition);
}
.btn-clean:hover {
  background: var(--clr-primary-dark-blue);
  color: var(--clr-primary-very-light-grey);
}
.section-title {
  color: var(--clr-primary-grayish-dark-blue);
  font-size: 1.8rem;
  letter-spacing: 0.08rem;
  line-height: 2.2rem;
  margin: 1.5rem 0;
  max-width: 60vw;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
}
/*
=============== 
Styles
===============
*/
/*
=============== 
Navbar
===============
*/
.nav-container {
  width: 85vw;
  margin: 2rem auto;
  margin-bottom: 0rem;
  max-width: var(--max-width);
}
.nav-links ul {
  display: none;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-arrow,
.right-arrow {
  font-size: 5rem;
  cursor: pointer;
  color: var(--clr-primary-grayish-dark-blue);
  transition: var(--transition);
}
.left-arrow:hover,
.right-arrow:hover {
  opacity: 60%;
}
.right-arrow {
  margin-left: -2.5rem;
}
.nav-toggle {
  border: transparent;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: var(--clr-primary-grayish-dark-blue);
  transition: var(--transition);
}
.nav-toggle:hover {
  color: var(--clr-primary-cyan);
}
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
  .nav-links ul {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25rem;
    color: var(--clr-primary-grayish-dark-blue);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link {
    font-family: var(--ff-primary);
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .nav-link a {
    color: var(--clr-primary-grayish-dark-blue);
    transition: var(--transition);
  }
  .nav-link a:hover {
    color: var(--clr-primary-cyan);
  }
}
@media screen and (min-width: 968px) {
  .nav-link {
    letter-spacing: 0.15rem;
    font-size: 0.9rem;
  }
  .nav-links ul {
    width: 30rem;
  }
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 8rem;
  right: 2rem;
  width: 16rem;
  height: 12rem;
  background: var(--clr-primary-grayish-dark-blue);
  color: var(--clr-primary-very-light-grey);
  transition: var(--transition);
  transform: translate(120%);
  z-index: -1;
  display: grid;
  align-items: center;
  justify-content: center;
}
.show-sidebar {
  transform: translate(0);
  z-index: 999;
}
.sidebar-links {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
}
.sidebar-link {
  margin: 1.5rem auto;
}
.sidebar-link a {
  color: var(--clr-primary-very-light-grey);
  transition: var(--transition);
}
.sidebar-link a:hover {
  color: var(--clr-primary-cyan);
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
/*
=============== 
Home Page
===============
*/

/* hero */
.hero {
  position: relative;
  width: 85vw;
  height: 50vh;
  margin: 0 auto;
}
.hero-img {
  width: 85vw;
  height: 50vh;
  background: linear-gradient(rgb(44, 109, 140, 0.4), rgba(0, 0, 0, 0.4)),
    url('./utils/gallery-images/hero-bcg.jpg') center/cover no-repeat;
}

.hero-title {
  max-width: 25rem;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 70vh;
  }
  .hero-img {
    height: 70vh;
  }
  .hero-greeting {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--clr-primary-very-light-grey);
    padding-top: 2rem;
    padding-right: 2rem;
  }
  .hero-title {
    max-width: 40vw;
    font-weight: 600;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 950px) {
  .hero-title {
    max-width: 26rem;
  }
}

/* aboout section */

.about-section {
  width: 85vw;
  margin: 3rem auto;
  margin-top: 14rem;
}
.about-img-container {
  width: 65vw;
  height: 26rem;
  margin: 0 auto;
  background: linear-gradient(rgb(44, 109, 140, 0.4), rgba(0, 0, 0, 0.4)),
    url('./utils/gallery-images/me.jpg') center/cover no-repeat;
}
.line {
  margin-top: 2rem;
  opacity: 40%;
}
.about-btn {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;

    width: 85vw;
    margin: 3rem auto;
  }
  .about-img-container {
    width: 38vw;
    height: 26rem;
  }
}
