/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,500;0,600;0,700;1,400&family=Public+Sans&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-cyan: hsl(167, 36%, 54%);
  --clr-primary-dark-blue: hsl(205, 41%, 21%);
  --clr-primary-grayish-dark-blue: hsl(245, 10%, 22%);
  --clr-primary-very-light-grey: hsl(0, 0%, 98%);
  --clr-primary-bright-red: hsl(0, 90%, 57%);

  --ff-primary: 'Ibarra+Real+Nova', sans-serif;
  --ff-secondary: 'Public+Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: var(--ff-primary); */
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
  background: var(--clr-primary-very-light-grey);
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  /* line-height: 1.25; */
  margin-bottom: 0.75rem;
}
h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
}
h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
}
p {
  font-family: var(--ff-secondary);
  font-size: 16px;
  line-height: 30px;
  /* margin-bottom: 1.25rem; */
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/
/*
=============== 
Navbar
===============
*/
.nav-container {
  width: 85vw;
  margin: 2rem auto;
}
.links {
  display: none;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-arrow,
.right-arrow {
  font-size: 5rem;
  cursor: pointer;
  color: var(--clr-primary-grayish-dark-blue);
  transition: var(--transition);
}
.left-arrow:hover,
.right-arrow:hover {
  opacity: 60%;
}
.right-arrow {
  margin-left: -2.5rem;
}
.nav-toggle {
  border: transparent;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: var(--clr-primary-grayish-dark-blue);
  transition: var(--transition);
}
.nav-toggle:hover {
  opacity: 60%;
}
